@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mooli&display=swap');



body,p{
    background-color:#444;
    color:whitesmoke;
    font-family:"Montserrat";
}

.container{
    padding-left:50%;
    padding-top:50%;
    jusitfy-content:center;
}
.startButton{
    background-color:#5c5470;
    color:whitesmoke;
    font-size:1rem;
}

.startButton:active{
    background-color:#dbd8e3;
}

.stopButton{
    background-color:#5c5470;
    color:whitesmoke;
    font-size:1rem;
}

.startButton:active{
    background-color:#dbd8e3;
}

.resetButton{
    background-color:#5c5470;
    color:whitesmoke;
    font-size:1rem;
}
/* hi */
.resetButton:active{
    background-color:#dbd8e3;
}
/* poop */
